<b>SSH login on {{ user }}@{{ host }}</b>

Dear {{ sysadmin }},

a new session has been opened on {{ host }}. The connection comes from {{rhost}} .

{% if key %}The login has been granted to the key <code>{{ key }}</code>.{% endif %} {% if key_owner %}The key is owned by {{ key_owner }}{% else %}This key has no known owner.{% endif %}
